@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */
.input {
  @apply w-full px-4 py-3 border border-gray-300 rounded-xl 
  focus:ring-2 focus:ring-sky-500 focus:border-transparent 
  outline-none transition-all;
}
